<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to 'Reload All', hosts_reload_path, :class => 'btn', :confirm => 'The system will reset all data from external hosts.yml file, continue ?' %>
    <a href="#" id="hosts_fetch_hba_link" class="btn">Fetch HBA</a>
  </div>
</div>
<table class="table table-bordered" id="host-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Host</th>
    <th>Login</th>
    <th>Password</th>
    <th>FC Ports</th>
    <th>Actions</th>
  </tr>
  </thead>
  <% @hosts.each do |host| %>
    <tr>
      <td><%= link_to host.name, fabric_host_path(host.id) %></td>
      <td><%= host.type %></td>
      <td><%= host.host %></td>
      <td><%= host.user %></td>
      <td><%= host.pass %></td>
      <td id="table_cell_ports_<%= host.id %>">
        <% host.ports.first(2).each do |port| %>  <code> <%= port.wwn %> </code> <code> <%= port.dev %> </code> <br/>
        <% end %>
        <% if host.ports.length > 2 %>
          <code> <%= link_to "and #{host.ports.length - 2} more ...", host_path(host) %> </code>
        <% end %>
      </td>
      <td>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a href="#" class="btn btn-small"><i class="icon-refresh"></i></a>
            <a href="#" class="btn btn-small"><i class="icon-remove"></i></a>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<% content_for :header do %>
  <%= javascript_include_tag hosts_fetch_hba_path %>
  <%= javascript_include_tag hosts_path %>
<% end %>